{{!< default}}
{{#post}}
  <article class="ui segment {{post_class}}">
    <header class="ui attached header">
      <h2>{{title}}</h2>
      <div class="sub header">
        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">
          {{date format="DD MMMM YYYY"}}
        </time>
        {{tags prefix=" on "}}
      </div>
    </header>
    <section class="ui attached segment">
      {{content}}
    </section>
    <footer class="ui attached segment">
      {{#author}}
        {{#if image}}
          <a class="ui small circular image" href="{{url}}">
            <img src="{{image}}" alt="{{name}}'s Picture" class="ui small circular image">
          </a>
        {{/if}}
      {{/author}}
    </footer>
    <footer class="ui bottom attached segment">
      {{#prev_post}}
        <a class="" href="{{url}}">Previous: {{title}}</a>
      {{/prev_post}}
      {{#next_post}}
        <a href="{{url}}">Next: {{title}}</a>
      {{/next_post}}
    </footer>
  </article>
{{/post}}